.component {
    width: 60%;
}

.title {
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 15px;
    padding: 0;
}

.salary {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 25px;
}

.employer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.employerInfo {
}

.employerName {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 4px;
}

.employerName a {
    color: #09f;
    text-decoration: none;
}

.employerName a:hover {
    color: #c00;
}

.employerLogo {
}

.employerLogo img {
    max-width: 160px;
    max-height: 80px;
}

.city {
}

.desc {
}
