.component {
    padding: 20px 0;
}

.vacancy {
    padding: 16px;
    border: 1px solid lightgray;
    box-shadow: 0 0 15px 0 rgba(47, 72, 88, 0.2);
    transition: box-shadow ease 0.2s;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 24px;
}

.vacancy:hover {
    box-shadow: none;
}

.vacancy:not(:last-child) {
    margin-bottom: 20px;
}

.vacancy > *:not(:last-child) {
    margin-bottom: 4px;
}

.main {
}

.logo {
    align-self: end;
}

.logo img {
    max-width: 90px;
    max-height: 44px;
}

.title {
    font-size: 18px;
    font-weight: 400;
}

.title a {
    color: #09f;
    text-decoration: none;
}

.title a:hover {
    color: #c00;
    text-decoration: none;
}

.employer,
.city {
    color: #999;
    font-size: 12px;
    margin-bottom: 4px;
}

.salary {
    font-size: 18px;
    font-weight: 400;
}
