.component {
    padding: 8px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    grid-column-gap: 16px;
    align-items: center;
}

.fieldWrapper {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.fieldWrapper label {
    margin-bottom: 8px;
}

.buttonWrapper {
    align-self: end;
}
