.container {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container li {
    list-style: none;
}

.container li:not(:first-child) {
    margin-left: -1px;
}

.container li a {
    display: inline-block;
    margin: 0;
    border-radius: 0;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    height: 38px;
    position: relative;
    padding: 0 15px;
    border: 1px solid;
    font-size: 14px;
    font-family: inherit;
    line-height: 36px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out;
    color: #333;
    border-color: #cbd1d4;
    background-color: #f9f9f9;
}

.previous {
}

.previousLink {
}

.page {
}

.pageLink {
}

.next {
}

.nextLink {
}

.break {
}

.breakLine {
}

.active {
}

.activeLink {
    color: #333333;
    box-shadow: inset 0 2px rgba(0, 0, 0, 0.2);
}

.disabled {
}
